<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Profile</title>
    <link rel="stylesheet" href="changeprofile.css">
</head>
<body>
    <div>
        <p class="roundbg">
            <img class="plus" src="./Union.svg" alt="plus">
        </p>
        <h5 class="text">Change Profile Picture</h5>
        <button class="btn btn-primary">Edit Profile</button>
    </div>
</body>
</html>