@import-normalize;

/* Color Palette */
:root {
    --color-primary: #246bfd;
    --color-secondary: #fff;
    --color-border: #1890ff;
    --logo-fontsize: 2rem;
    --fontsize: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Typography */
body {
    font-family: 'Lato', sans-serif;
    /* background-color: #D7E4F3; */
    color: #1f1f1f;
    /* height: 832px; */
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    /* height: 832px; */
    
}

.bg-img {
    height: 890px;
    background-image: url("../images/sign_up_image\ 1@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 50%;
    position: relative;
}

.bg-img h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;
    position: absolute;
    left: 57px;
    top: 37px;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F8FF;
    padding: 40px;
    height: 890px;
    width: 0px;
    max-width: 100%;
    flex-basis: 50%;
}

.med-title {
    display: none;
    font-weight: 700;
font-size: 16px;
line-height: 24px;
}

form {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(186, 197, 255, 0.25);
    border-radius: 10px;
    padding: 20px 40px;
    height: 604px;
    width: 100%;
    height: 652px;
    width: 500px;

}

.heading {
    text-align: center;
    padding: 25px 0;
}

.heading h2 {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
}

.heading p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

div > label {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.form-wrapper h1 {
    color: var(--color-primary);
    padding-bottom: 25px;
}

input[type=email], input[type=password] {
    width: 100%;
    font-size: 14px;
    padding: 10px 8px;
    border-radius: 3px;
    margin-block: 10px 22px;
    border: 1px solid #D9D9D9;
color: rgba(0, 0, 0, 0.85);
}

.form-wrapper label {
    font-size: var(--fontsize);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

input[type=submit] {
    width: 100%;
    color: white;
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 3px;
    padding: 15px 0;
    margin-block: 20px;
    box-shadow: 0 0px 1px var(--color-primary);
    transition: 0.3s;
    border: none;
    font-weight: 400;
font-size: 14px;
line-height: 20px;
}

input[type=submit]:hover {
    background: #1F5BD7;
    border: 1px solid #1F5BD7;
}

input[type=submit]:active {
    background: #4B86FD;
    border: 1px solid #4B86FD;
    box-shadow: 0px 0px 0px 5px #4B86FD1A;
} 
.signup-with {
    text-align: center;
    font-size: var(--fontsize);
    position: relative;
    margin-block: 50px 40px;
}

.signup-with::before, .signup-with::after {
    content: "";
    display: block;
    position: absolute;
    height: 0.9px;
    width: 35%;
    background-color: black;
    top: 50%;
}

.signup-with::after {
    right: 0;
}

.password {
    position: relative;
}

.icons {
    position: absolute;
    top: 50%;
    right: 10px;
}

.option-signup {
    text-align: center;
    margin-block: 30px;
}

.option-signup img {
    margin-right: 15px;
}

.footer {
    text-align: center;
    font-size: var(--fontsize);
}

.footer a {
    text-decoration: none;
    color: var(--color-primary);
}

@media (max-width: 900px) {
    .med-title {
        display: block;
    }
    .image img {
        display: none;
    }
    .form-wrapper {
        width: 900px;
        padding: 200px;
    }
    form {
        width: 500px;
        
    }
    .form-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .med-title {
        display: block;
    }
    .image img {
        display: none;
    }
    .form-wrapper {
        width: 900px;
        padding: 200px;
    }
    form {
        width: 500px;
    }
    .form-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 520px) and (min-width: 300px) {
    form {
        width: 350px;
    }
    .signup-with::before, .signup-with::after {
        width: 30%;
    }
}

@media (max-width: 320px) {
    form {
        width: 300px;
    }
    .signup-with::before, .signup-with::after {
        width: 25%;
    }
}