<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activityDetails</title>
    <link rel="stylesheet" href="./activityDetails.css" />
</head>
<body>
    <div class="main-container">
        <div class="booking-container">
            <div class="booking-items">
                <span class="close-icon"><a href="#"><img src="./close-icon.svg" alt="close-icon"></a></span>
                <p>Name of Facility: <span>Lagoon Hospital</span></p>
                <p>Facility Address:  <span>19, Tinuade street, Alake B/stop, Idimu, Lagos state.</span></p>
                <p>Specalist: <span>Dentist</span></p>
                <p>Appointment details: <span>Personal</span></p>
                <p>Date: <span>04-11-2022</span></p>
                <p>Time: <span>12:00 pm</span></p>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary">Update Booking</button>
            </div>
        </div>
    </div>
</body>
</html>