@import url(../../main.css);
@import url(../button/button.css);
@import url(../nav-bar/nav-bar.css);
@import url(../input/input.css);

body {
  background-color: var(--color-background);
  background-color: #f5f8ff;
}

/* For Mobile Devices <= 520px */

.facility-content {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 20px;
}

/* Settings Section */
.settings-container {
  max-width: 293px;
  height: 173px;
  left: 64px;
  top: 106px;
  background: var(--color-secondary);
  box-shadow: 0px 4px 20px rgba(186, 197, 255, 0.25);
  border-radius: 10px;
}

.settings-heading {
  width: 100%;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-body);
}

.settings-options {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings-options a {
  text-decoration: none;
  padding: 15px 20px;
}

.settings-options .profile {
  background: var(--color-profile-bg);
  color: var(--color-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.settings-options .deactivate {
  color: var(--color-danger);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

/* Facility Images */

.facility-container {
  background-color: var(--color-secondary);
  width: 295px;
  height: 368px;
  border-radius: 10px;
  padding: 15px;
}

/* .box-group {
  display: flex;
} */

.facility-name {
  font-size: 20px;
  padding-bottom: 16px;
  color: #454545;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
}

.box- .grey-bg {
  background-color: var(--color-input);
  border-radius: 3px;
  margin: 1.5px;
}

.big-box {
  max-width: 260px;
  height: 150px;
  margin-bottom: 1.5px;
}

.small-box {
  width: 85.5px;
  height: 64px;
}

.plus-icon {
  margin-left: 30px;
  margin-top: 20px;
}

.facility-code {
  padding-top: 20px;
  padding-left: 10px;
}

.facility-label {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

/* For Desktop >= 800px */
@media screen and (min-width: 800px) {
  .facility-content {
    background: yellow;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* gap: ; */
  }

  .div-1 {
    background: black;
  }

  .div-2 {
    background: red;
    width: 100px;
    height: 100px;
    /* flex-self: ; */
  }

  .div-3 {
    background: blue;
  }

  .facility-content div {
    height: 200px;
    width: 200px;
    background: pink;
  }
}
