/* @import-normalize; */

/* Color Palette */
:root {
    --color-primary: #246bfd;
    --color-secondary: #fff;
    --color-border: #1890ff;
    --color-input: #d9d9d9;
    --color-placeholder: #bfbfbf;
    --color-background: #d7e4f3;
    --color-button-hover:  #1F5BD7;
    --color-button-active: #4B86FD;
    --logo-fontsize: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
} 

html {
    font-size: 62.5%;
}

/* Typography */
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
    height: 100vh;
}

/* Header */
.logo-text {
    color: var(--color-primary);
    font-size: var(--logo-fontsize);
    font-weight: 700;
}

.container {
    border-radius: 1rem;
    background: var(--color-secondary);
    margin: 30px 0 28px;
    padding: 24px;
}


.form-description  {
    text-align: center;
    width: 100%;
}

.form-heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    padding-top: 11px;
    margin: 0;
}

.form-description p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 0 32px;
}


.form-label, .label-inline, .forgot-password {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}


.form-label {
    display: block;
}

.form-group {
    width: 264px;
}

.form-control {
    border: 1px solid var(--color-input);
    outline: 0;
    margin: 8px 0 24px;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-placeholder);
}

.form-control, .form-submit {
    border-radius: 3px;
    box-sizing: border-box;
    height: 44px;
    width: 100%;
}

.remember-check {
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.form-group.flex-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12px;
}

.form-submit {
    background: var(--color-primary);
    border: 0;
    color: var(--color-secondary);
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    cursor: pointer;
}


.form-submit:hover {
    background: var(--color-button-hover);
    border: 1px solid var(--color-button-hover);
}

.form-submit:active {
    background: var(--color-button-active);
    border: 1px solid var(--color-button-active);
    box-shadow: 0px 0px 0px 5px #4B86FD1A; 
}


.forgot-password a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-style: normal;
    text-align: right;  
    color: var(--color-primary);
    margin-top: 12px;
}

.signin-with {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    margin-top: 38px ;
}

.signin-with::before, .signin-with::after {
    content: "";
    display: block;
    position: absolute;
    height: 0.9px;
    width: 80.5px;
    background-color: black;
    top: 50%;
}

.signin-with::after {
    right: 0;
}

.password {
    position: relative;
}

.option-signin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 32px;
    margin: 28px 0 28px;
}

.option-signin img {
    width: 32px;
}

.footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #1F1F1F;
    margin-bottom: 48px;
}

.footer a {
    text-decoration: none;
    color: var(--color-primary);
}

