/* @import "/normalize.css"; */

/* Color Palette */
:root {
  --color-primary: #246bfd;
  --body-bgcolor: #f5f8ff;
  --color-secondary: #fff;
  --color-border: #1890ff;
  --color-input: #d9d9d9;
  --color-placeholder: #bfbfbf;
  --color-background: #d7e4f3;
  --logo-fontsize: 2rem;
}

/* Typography */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}
