<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create account successful</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="prompt.css">

</head>

<body>
        <div class="background-container">
            <div class="created-container">
                <img class="created-check-image" src="../assets/CheckCircle.svg" alt="check">
                <div class="created-header-text">
                    <h1>Booking Updated</h1>
                    <p>Your booking has been updated successfully.</p>
                </div>
                <button class="btn-continue">Close</button>
            </div> 
        </div>
</body>

</html>