<!-- Input and Label Template -->

<!-- For Text -->
<div class="form-group">
    <label class="form-label" for="text">Firstname</label>
    <input class="form-input" type="text" id="text" placeholder="text" required>
</div>

<!-- For Email -->
<div class="form-group">
    <label class="form-label" for="email">Email <span>*</span></label>
    <input class="form-input" type="email" id="email" placeholder="Email" required>
</div>

<!-- For Phone Number -->
<div class="form-group">
    <label class="form-label" for="phoneNumber">Phone Number <span>*</span></label>
    <input class="form-input" type="tel" id="phoneNumber" placeholder="Phone Number" required>
</div>

<!-- For Password -->
<div class="form-group">
    <label class="form-label" for="password">Password</label>
    <input class="form-input" type="password" id="password" placeholder="Password" required>
</div>

<!-- For Checkbox -->
<div class="form-group form-group-inline">
    <label class="form-label-inline" for="remember-me">Remember me?</label>
    <input class="form-input-checkbox" type="checkbox" id="remember-me">
</div>

<!-- For Submit button defined as input -->
<div class="form-group btn btn-primary">
    <input class="form-submit" type="submit" value="Sign In">
</div>

<!-- For Select input (country) -->
<div class="form-group">
    <label class="form-label" for="country">Country <span>*</span></label>
    <select class="form-input" name="country" onchange="printState('state',this.selectedIndex);" id="country"></select> 
</div>

<!-- For Select input (state) -->
<div class="form-group">
    <label class="form-label" for="state">State <span>*</span></label>
    <select class="form-input" name="state" id="state">
        <option value="">Select Country first</option>
    </select>
</div>

<!-- For Textarea -->
<div class="form-group">
    <label class="form-label" for="text">Description</label>
    <textarea name="name" id="name" cols="30" rows="5" resize="none">Sample Place holder text</textarea>
    <!-- <input class="form-input" type="text" id="text" placeholder="text" required> -->
</div>

