@import url(../../main.css);

body {
    width: 1280px;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 16px 64px;
    box-shadow: 0px 4px 20px rgba(186, 197, 255, 0.25);
}

.logo-text {
    color: var(--color-primary);
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.nav-bar a {
    text-decoration: none; 
}

.nav-list {
    list-style: none;
    width: 450px;
    height: 39px;
    margin: 20.5px 217.5px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .nav-item {
    display: inline-block;
} */

.nav-item a {
    color: var(--color-nav-item);
}

.profile-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 163px;
    height: 40px;
}

.profile-name {
    font-size: 16px;
    color: var(--color-nav-item);
}