<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Models</title>
    <link rel="stylesheet" href="./booking-models.css">
</head>
<body>
    <!-- Notification model starts here -->
    <div class="notify-container">
        <div class="flex">
            <input type="radio" name="notify" id="no">
            <label for="no">No</label>
        </div>
        <div class="flex">
            <input type="radio" name="notify" id="yes">
            <label for="yes">Yes</label>
        </div>
    </div>
    <!-- Notification model ends here -->

    <!-- Calendar starts here -->
    
    <!-- Calendar ends here -->


    <!-- Facility selection starts here -->
    <div class="facility">
        <div class="search-bar">
            <img class="search-img" src="../../nav-bar/search-icon.svg" alt="search_icon" />
            <input class="form-input2" type="text" placeholder="Search for facility"/>
        </div>
        <p class="facility-text">Facilities nearby</p>
        <div class="faci-overflow">
            <div class="facility-list">
                <div class="flex-desktop">
                    <picture>
                        <source media="(man-width:799px)" srcset="./images/mobile.png">
                        <source media="(min-width:800px)" srcset="./images/desktop.png">
                        <img src="./images/mobile.png" alt="Hospital Background">
                    </picture>
                    <div>
                        <div class="hospital-name">
                            <h3>Lagoon Hospital</h3>
                            <a href="#">More</a>
                        </div>
                        <p class="facility-details">we've pioneered advanced medical
                            care in nigeria also the first private 
                            hospital in the country...
                        </p>
                    </div>
                </div>
                <button class="btn btn-primary save-changes-pop">Book Appointment</button>
            </div>
            <div class="facility-list">
                <div class="flex-desktop">
                    <picture>
                        <source media="(man-width:799px)" srcset="./images/mobile.png">
                        <source media="(min-width:800px)" srcset="./images/desktop.png">
                        <img src="./images/mobile.png" alt="Hospital Background">
                    </picture>
                    <div>
                        <div class="hospital-name">
                            <h3>Lagoon Hospital</h3>
                            <a href="#">More</a>
                        </div>
                        <p class="facility-details">we've pioneered advanced medical
                            care in nigeria also the first private 
                            hospital in the country...
                        </p>
                    </div>
                </div>
                <button class="btn btn-primary save-changes-pop">Book Appointment</button>
            </div>
            <div class="facility-list">
                <div class="flex-desktop">
                    <picture>
                        <source media="(man-width:799px)" srcset="./images/mobile.png">
                        <source media="(min-width:800px)" srcset="./images/desktop.png">
                        <img src="./images/mobile.png" alt="Hospital Background">
                    </picture>
                    <div>
                        <div class="hospital-name">
                            <h3>Lagoon Hospital</h3>
                            <a href="#">More</a>
                        </div>
                        <p class="facility-details">we've pioneered advanced medical
                            care in nigeria also the first private 
                            hospital in the country...
                        </p>
                    </div>
                </div>
                <button class="btn btn-primary save-changes-pop">Book Appointment</button>
            </div>
            <p>No result found</p>
        </div>
        
    </div>
    <!-- Facility selection ends here -->


    <!-- Specialist starts here -->
    <div class="facility">
        <div class="search-bar">
            <img class="search-img" src="../../nav-bar/search-icon.svg" alt="search_icon" />
            <input class="form-input2" type="text" placeholder="Search for facility"/>
        </div>
        <p class="facility-text">Facilities nearby <!-- Result found --></p>
        <div class="faci-overflow-spec">
            <div class="flex">
                <input type="radio" name="answer" id="not-sure">
                <label for="not-sure">Not Sure</label>
            </div>
            <div class="flex">
                <input type="radio" name="answer" id="eye">
                <label for="eye">Ophthalmologist (eye)</label>
            </div>
            <div class="flex">
                <input type="radio" name="answer" id="derma">
                <label for="derma">Dermatologist (skin, nails and hair)</label>
            </div>
            <div class="flex">
                <input type="radio" name="answer" id="allergy">
                <label for="allergy">Allergists (allergic)</label>
            </div>
            <div class="flex">
                <input type="radio" name="answer" id="eye">
                <label for="eye">Ophthalmologist (eye)</label>
            </div>
            <div class="flex">
                <input type="radio" name="answer" id="eye">
                <label for="eye">Ophthalmologist (eye)</label>
            </div>
            <div class="flex">
                <input type="radio" name="answer" id="eye">
                <label for="eye">Ophthalmologist (eye)</label>
            </div>
        </div>
    </div>
    <!-- Specialist ends here -->
</body>
</html>