<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>currentBooking</title>
    <link rel="stylesheet" href="./currentBooking.css" />
  </head>
  <body>
   
    <!-- nav-bar section -->
  <header class="header">
    <!-- mobile nav -->
    <nav class="nav-small">
      <a href=""
        ><img src="../icons/less-than-solid.svg" alt="more options"
      /></a>
      <a href=""><img src="../icons/bars-solid.svg" alt="hamburger icon" /></a>
    </nav>
    <!-- desktop nav -->
    <nav class="nav-bar">
      <a href="#">
        <h1 class="logo-text">MedBookly</h1>
      </a>
      <ul class="nav-list">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">Booking</a></li>
        <li class="nav-item"><a href="#">Settings</a></li>
      </ul>
      <div class="profile-end">
        <span class="search-input">
          <img class="search-icon" src="../icons/search-icon.svg" alt="search_icon" />
          <input class="nav-input" type="text" />
        </span>
        <span class="profile-avatar"
          ><img src="../icons/profile-avatar.svg" alt="profile_avatar"/>
        </span>
        <span class="profile-name">Adewale</span>
        <span class="details collapsible collapsible-true">
          <span class="collapse-arrow arrow-right"
            ><img class="" src="../icons/more-arrow.svg" alt="search_icon"/>
          </span>
        </span>
        <div class="profile-drop">
          <a href="#">View Profile</a>
          <a href="#">Logout</a>
        </div>
      </div>
    </nav>
  </header> 

    <!-- main wrapper section -->
   <main>
    <div class="activity-container">
      <div class="current-activity-heading">
        <span class="current-booking">Current Bookings </span>
        <span class="activity-history">Activity History</span>
      </div>

      <div class="activity-overflow">
        <!-- First Card -->
        <div class="records-card">
          <p class="booking-details"><span>Dental Appointment</span> at <span>Tinuade Eye Clinic</span> on <span>7/7/22</span></p>
          <span><a href="#" class="view-details">View details</a></span>
        </div>
        <!-- Second Card -->
        <div class="records-card">
          <p class="booking-details"><span>Optometry Appointment</span> at <span>Isalu Hospitals</span> on <span>12/8/22</span></p>
          <span><a href="#" class="view-details">View details</a></span>
        </div>
        <!-- Third Card -->
        <div class="records-card">
          <p class="booking-details"><span>Cosmetics Appointment</span> at <span>St. Nicholas Hospital</span> on <span>8/6/22</span></p>
          <span><a href="#" class="view-details">View details</a></span>
        </div>
        <!-- Fourth Card -->
        <div class="records-card">
          <p class="booking-details"><span>Psychiatrist Appointment</span> at <span>Wind of Grace Hospital</span> on <span>21/8/22</span></p>
          <span><a href="#" class="view-details">View details</a></span>
        </div>
        <!-- Fifth Card -->
        <div class="records-card">
          <p class="booking-details"><span>Surgery Appointment</span> at <span>First Consultant Hospital</span> on <span>8/12/22</span></p>
          <span><a href="#" class="view-details">View details</a></span>
        </div>
        <!-- Sixth Card -->
        <div class="records-card">
          <p class="booking-details"><span>Optometry Appointment</span> at <span>Creek Hospital</span> on <span>9/4/22</span></p>
          <span><a href="#" class="view-details">View details</a></span>
        </div>
        <!-- Seventh Card -->
        <div class="records-card">
          <p class="booking-details"><span>Physiotheraphy Appointment</span> at <span>National Orthopaedic Hospital</span> on <span>21/2/22</span></p>
          <span><a href="#" class="view-details">View details</a></span>
        </div>
        <!-- Eighth Card -->
        <div class="records-card">
          <p class="booking-details"><span>Vetinary Appointment</span> at <span>Duchess International Hospital</span> on <span>16/1/22</span></p>
          <span><a href="#" class="view-details">View details</a></span>
        </div>
        <!-- Ninth Card -->
        <div class="records-card">
          <p class="booking-details"><span>Pediatric Appointment</span> at <span>Reddington Hospital</span> on <span>25/2/22</span></p>
          <span><a href="#" class="view-details">View details</a></span>
        </div>
      </div>
    </div>
  </main>
  </body>
</html>