@import url(../../main.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
main{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 64px 34px;
gap: 16px;
position: absolute;
width: 535px;
height: 1063px;
left: 373px;
top: 106px;
}
::placeholder {
    color: #8C8C8C;
  }
#description{
    border-radius: 3px;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    color: #8C8C8C;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 8px 0 12px;
    outline: 0;
    padding: 12px;
    width: 467px;
    height: 70px;
}

/* Form Inputs and labels */
.form-group { /*This is a container for a single block label and its input*/
    width: 100%;
}

.form-label, .form-label-inline { /*Label properties (block and inline)*/
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.form-label {
    display: block;
}

.form-input, #location, #country  { /*input properties*/
    border-radius: 3px;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    color: var(--color-black);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 8px 0 12px;
    outline: 0;
    padding: 12px;
    width: 467px;
    height: 44px;
}

.form-input-checkbox { /*input properties for type="checkbox"*/
    height: 16px;
    margin-left: 8px;
    width: 16px;
}

.form-group-inline { /*This is a container for an inline label and its input*/
    align-items: center;
    display: flex;
    justify-content: flex-start;
}


/* For Desktop */
@media screen and (min-width: 1280px) {
    .form-label, .form-label-inline {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
    
    .form-input, #location, #country {
        font-size: 14px;
        height: 44px;
        line-height: 20px;
        margin: 8px 0 36px;
    }
    #email::placeholder {
        color: #8C8C8C;
      }
    #description{
        font-size: 14px;
        height: 70px;
        line-height: 20px;
        margin: 8px 0 36px;
    }
    .form-input-check {
        height: 16px;
        margin-left: 8px;
        width: 16px;
    }
    
    .form-group-inline {
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }
    /* Buttons */
.btn { /*This is the generic button structure*/
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
    height: 40px;
    padding: 6.4px 0px;
    white-space: nowrap;
    width: 467px;
}

}