<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>noActivityHistory</title>
    <link rel="stylesheet" href="./noActivityHistory.css" />
  </head>
  <body>
   
    <!-- nav-bar section -->
  <header class="header">
    <!-- mobile nav -->
    <nav class="nav-small">
      <a href=""
        ><img src="../icons/less-than-solid.svg" alt="more options"
      /></a>
      <a href=""><img src="../icons/bars-solid.svg" alt="hamburger icon" /></a>
    </nav>
    <!-- desktop nav -->
    <nav class="nav-bar">
      <a href="#">
        <h1 class="logo-text">MedBookly</h1>
      </a>
      <ul class="nav-list">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">Booking</a></li>
        <li class="nav-item"><a href="#">Settings</a></li>
      </ul>
      <div class="profile-end">
        <span class="search-input">
          <img class="search-icon" src="../icons/search-icon.svg" alt="search_icon" />
          <input class="nav-input" type="text" />
        </span>
        <span class="profile-avatar"
          ><img src="../icons/profile-avatar.svg" alt="profile_avatar"/>
        </span>
        <span class="profile-name">Adewale</span>
        <span class="details collapsible collapsible-true">
          <span class="collapse-arrow arrow-right"
            ><img class="" src="../icons/more-arrow.svg" alt="search_icon"/>
          </span>
        </span>
        <div class="profile-drop">
          <a href="#">View Profile</a>
          <a href="#">Logout</a>
        </div>
      </div>
    </nav>
  </header> 


    <!-- main wrapper section -->
   <main>
    <div class="activity-container">
      <div class="current-activity-heading">
        <span class="current-booking">Current Bookings </span>
        <span class="activity-history">Activity History</span>
      </div>
      <div class="activity-content">
        <p class="no-records">No History</p>
        <button class="btn btn-primary button">Create Booking</button>
        <img src="../icons/union.svg" alt="plus-icon" class="plus-icon">
      </div>
    </div>
  </main>
  </body>
</html>