<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="./calendar.css">
</head>
<body>
    <div class="calendar-wrapper">
        <div class="month">      
            <div class="left arrow">
                <img src="./images/double-left.svg" alt="">
                <img src="./images/left.svg" alt="">
            </div>
            <h4 class="title">Jan 2020</h4>
            <div class="right arrow">
                <img src="./images/right.svg" alt="">
                <img src="./images/double-right.svg" alt="">
            </div>
        </div>
        <ul class="weekdays">
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
            <li>Sun</li>
        </ul>
        <ul class="days">  
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li><span class="previous">22</span></li>
            <li><span class="active">23</span></li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li class="next-daymonth">1</li>
            <li class="next-daymonth">2</li>
            <li class="next-daymonth">3</li>
            <li class="next-daymonth">4</li>
            <li class="next-daymonth">5</li>
        </ul>
        <p class="calendar-footer">Today</p>
    </div>
   
</body>
</html>