<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rescheduleSuccessful</title>
    <link rel="stylesheet" href="./rescheduleSuccessful.css" />
</head>
<body>
    <div class="main-container">
        <div class="success-container">
            <span class="close-icon"><img src="./close-icon.svg" alt="close-icon"></span>
            <div class="success-content">
                <span class="check-circle"><img src="./check-circle.svg" alt="check-circle"></span>
                <h4 class="success-heading">Booking Rescheduled Successfully</h4>
                <span class="success-description">Your Appointment with the doctor has been successfully rescheduled.</span>
                <button class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</body>
</html>