<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activityHistory</title>
    <link rel="stylesheet" href="./activityHistory.css" />
</head>
<body>
    <div class="main-container">
        <div class="activity-container">
            <span class="close-icon"><a href=""><img src="./close-icon.svg" alt="close-icon"></a></span>
            <div class="activity-content">
                <span class="exclamation-circle"><img src="./exclamation-circle.svg" alt="exclamation-circle"></span>
                <span class="activity-description">Are you sure you want to delete?</span>
                <div class="btn-group">
                    <button class="btn btn-danger">No</button>
                    <button class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>